/* Write your CSS here */
* {
  margin: 0;
}
.mainContainer {
  display: flex;
  justify-content: center;
  background-color: #161625;
  height: 100%;
  padding: 1rem;
}
.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  width: 2.5rem;
}
.name {
  font-size: 2rem;
  color: #2cc6c6;
  margin-left: 1rem;
}
.title {
  margin-top: 2rem;
  color: #cbd5e1;
  font-size: 1.6rem;
}
.loaderContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
